@charset "UTF-8";
// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";
// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";
// Custom Yoke Styles Below
$dark-blue: #0a435a;
$flat-yellow: rgb(255, 255, 101);
$height: auto;
body {
  background-color: $dark-blue;
}
header,
main,
footer {
  padding-left: 240px;
}
@media #{$medium-and-down} {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
#nav-mobile {
  background-color: whitesmoke;
}
.intro-container {
  position: absolute;
  height: 80%;
  left: 0;
  right: 0;
}
.brand {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 7em;
  font-weight: bold;
  color: $flat-red;
  letter-spacing: -5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
}
@media #{$medium-and-down} {
  .brand {
    padding-left: 0;
  }
}
.side-nav li {
  a {
    cursor: pointer;
    height: auto !important;
    @include transition(0.3s ease);
    .notify-badge {
      font-weight: bold;
      width: 45px;
      height: 45px;
      line-height: 45px !important;
      margin-top: 9px;
      background: $flat-red !important;
      border-radius: 7px;
      color: white !important;
    }
  }
  &:hover {
    a {
      .notify-badge {
        background: $dark-blue !important;
      }
    }
  }
}
.search-bar {
  width: 100%;
  float: right;
}
@media #{$medium-and-down} {
  .search-bar {
    width: 95%;
  }
}
.collection-item {
  .btn-floating {
    margin-top: -1%;
    display: block;
    i {
      font-size: 1rem;
    }
  }
}
.flat-blue {
  background-color: $flat-blue;
}
.flat-red {
  background-color: $flat-red;
}
.white-text {
  color: white;
}
.userheader {
  float: left;
}
.follow-state {
  float: right;
  margin-top: 0.5rem;
  @include transition(all 0.5s ease);
}
.unfollow {
  background: $flat-red !important;
  @include rotate(-45deg);
}
.follow {
  background: ("blue","lighten-2") !important;
}
.date-text {
  font-weight: bold;
  text-align: right;
}
// Own yoke CSS
.card-panel.flat-blue {
  .date-text {
    color: rgb(255, 196, 196);
  }
}
.card-panel.flat-red {
  .date-text {
    color: #47ebf9;
  }
}
.a70 {
  width: 70%;
}
.a30 {
  width: 30%;
  .btn {
    width: 100%;
  }
}
#search {
  @extend .search-input;
}
.search-loader {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.no-results {
  color: $flat-red;
  text-transform: lowercase;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.no-yokes {
  @extend .no-results;
  font-weight: 3em;
}
.logo {
  text-align: center;
  margin-top: 32px;
  border-bottom: 1px solid #ddd;
  &:hover {
    background: none !important;
  }
  a:hover {
    cursor: default;
  }
}
.btn-full {
  margin-top: 5px;
  width: 100%;
}
.yoke-link {
  color: $flat-yellow;
}