<template name="modal">
  <!-- Login Modal -->
  <div id="authModal" class="modal">
    <div class="modal-content">
      {{>Template.dynamic template=activeModal}}
    </div>
  </div>
</template>

<template name="signupForm">
  <form id="signup-form">
    <h2>Sign Up</h2>
    <br/>
    <div class="input-field col s12">
      <input type="text" id="signup-username" />
      <label for="signup-username">Username</label>
    </div>
    <div class="input-field col s12">
      <input type="password" id="signup-password" />
      <label for="signup-username">Password</label>
    </div>
    <div class="input-field col s12">
      <input type="text" id="signup-name" />
      <label for="signup-name">Full Name</label>
    </div>
    <br/>
    <button class="btn-large btn-full" type="submit">Sign Up
      <i class="mdi-content-send right"></i>
    </button>
  </form>
</template>

<template name="loginForm">
  <form id="login-form">
    <h2>Log In</h2>
    <br/>
    <div class="input-field col s12">
      <input type="text" id="login-username" />
      <label for="login-username">Username</label>
    </div>
    <div class="input-field col s12">
      <input type="password" id="login-password" />
      <label for="login-password">Password</label>
    </div>
    <br/>
    <button class="btn-large btn-full" type="submit">Log In
      <i class="mdi-content-send right"></i>
    </button>
  </form>
</template>

<template name="logoutForm">
  <form id="logout-form">
    <button type="submit">Log Out</button>
  </form>
</template>