<template name="navigation">
  <nav id="top-nav">
    <div class="navbar-fixed">
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="mdi-navigation-menu"></i>
      </a>
      {{#if loggedIn}}
      <div class="search-bar nav-wrapper">
        <form id="search-form">
          <div class="input-field">
            {{> esInput id="search" index="users"}}
            <label for="search"><i class="mdi-action-search"></i></label>
            <i class="mdi-navigation-close"></i>
          </div>
        </form>
      </div>
      {{/if}}
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      <a id="logo-container" class="brand-logo">
        <img class="responsive-img" src="/images/yoke.png">
      </a>
    </li>
    {{#if loggedIn}} {{#unless pageOwner}}
    <li>
      <a href="/">
        <i class="mdi-action-home small left"></i> Home
      </a>
    </li>
    {{/unless}}
    <li>
      <a href='/following'>
        <i class="mdi-social-person-add small left"></i> Following
        <span class="badge notify-badge">{{followingCount}}</span>
      </a>
    </li>
    <li>
      <a href='/followers'>
        <i class="mdi-social-people small left"></i> Followers
        <span class="badge notify-badge">{{followersCount}}</span>
      </a>
    </li>
    <li>
      <a class="sign-out">
        <i class="mdi-navigation-arrow-back small left"></i> Sign Out
      </a>
    </li>
    {{else}}
    <li>
      <a data-target="authModal" class="auth-modal-trig" data-modal-template="loginForm">
        <i class="mdi-navigation-arrow-forward small left"></i> Login
      </a>
    </li>
    <li>
      <a data-target="authModal" class="auth-modal-trig" data-modal-template="signupForm">
        <i class="mdi-action-assignment-ind small left"></i> Register
      </a>
    </li>
    {{/if}}
  </ul>
</template>